
body{
  margin: 0 auto;
}

h1 {
  text-align: center;
}
.options{
 
  margin-top: 10%;
  width: 400%;
  text-decoration: none;
  display: flex;

  list-style:none;
}

.win{
  display: flex;
  text-align: center;
  width: 25rem;
  height: 100px;
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.lose{
  display: flex;
  text-align: center;
  width: 25rem;
  height: 100px;
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.home{
  display: flex;
  text-align: center;
  width: 25rem;
  height: 100px;
  color: white;
  text-decoration: none;
  margin: 5rem auto;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

p{
  text-align: center;
  font-size: 1.8rem;
}

.result{
  font-size: 5rem;
}

.w{
  color: red;
}

.l{
  color: blue;
}
